@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  /* Primary */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.mobile-nav {
  background-color: pink;
  text-align: end;
  position: absolute;
  width: 300px;
  height: 100%;
  right: -0px;
  display: none;
}

.mobile-nav input {
  margin: 1.5rem 1rem;
}

.mobile-nav .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-nav .nav-menu a {
  text-decoration: none;
  margin: 1rem 2rem;
  font-size: 20px;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
  align-items: center;
  font-size: 15px;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
}

nav input {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1300px;
}

.content1 {
  display: grid;
  /* grid-template-columns: repeat(2, 360px) minmax(100px, 380px); */
  grid-template-columns: repeat(2, 1fr) minmax(100px, 380px);
  /* grid-template-rows: 306px 180px; */
  /* grid-template-rows: 1fr 180px; */
  grid-template-rows: auto 0.5fr;
  /* grid-column-gap: 25px;
  grid-row-gap: 25px; */
  gap: 25px;
  margin-bottom: 4rem;
}

.content1 img {
  max-width: 100%;
  height: auto;
  grid-area: 1 / 1 / 2 / 3;
}

.desktop-image {
  display: none;
}

.content1 h1 {
  grid-area: 2 / 1 / 3 / 2;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  display: flex;
  align-items: center;
}

.content1 .headline-desc {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headline-desc p {
  line-height: 24px;
}

.headline-desc button {
  width: fit-content;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  letter-spacing: 3.5px;
  border: none;
  background-color: var(--very-dark-blue);
  color: white;
  cursor: pointer;
}

.content1 .new-news {
  grid-area: 1 / 3 / 3 / 4;
  background-color: var(--very-dark-blue);
  color: white;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}

.new-news .contents {
  border-bottom: 1px solid white;
}

.new-news h2 {
  font-size: 38px;
}

.new-news p {
  line-height: 28px;
  padding: 0.5rem 0;
  padding-bottom: 1.8rem;
}

.content2 {
  display: flex;
  justify-content: space-between;
}

.content2 .trends {
  display: flex;
  flex: 1;
}

.trends img {
  max-width: 110px;
  margin-right: 1rem;
  object-fit: cover;
}

.trends h3 {
  font-size: 28px;
  margin-bottom: 0.8rem;
  font-weight: 800;
}

.trends h4 {
  font-weight: 800px;
  margin-bottom: 0.8rem;
  font-size: 17px;
}

.trends p {
  line-height: 27px;
}

.trends:nth-child(2) {
  margin: 0 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 4rem;
  background-color: var(--soft-red);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1210px) {
  .content1 h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .headline-desc p {
    line-height: 24px;
  }

  .new-news h2 {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 930px) {
  nav {
    padding: 1.5rem 2rem;
  }

  nav a {
    margin: 0 8px;
  }

  .container {
    padding: 0 2rem;
  }

  .content1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 0.3fr 1fr;
  }

  .content1 .new-news {
    grid-area: 3 / 1 / 4 / 3;
    padding-top: 1rem;
  }
}

@media (max-width: 715px) {
  body {
    position: relative;
  }

  nav input {
    display: inline-block;
  }

  nav .nav-menu {
    display: none;
  }

  .content1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.3fr auto 1fr;
    gap: 0;
    margin-bottom: 3.5rem;
  }

  .content1 h1 {
    grid-area: 2 / 1 / 3 / 2;
    margin: 1.5rem 0;
  }

  .content1 .headline-desc {
    grid-area: 3 / 1 / 4 / 2;
  }

  .new-news h2 {
    margin-bottom: 0;
  }

  .new-news .contents h3 {
    margin-top: 2rem;
  }

  .headline-desc button {
    margin-top: 1.8rem;
  }

  .content1 .new-news {
    margin-top: 3.5rem;
    grid-area: 4 / 1 / 5 / 2;
    padding-top: 1rem;
  }

  .content2 {
    flex-direction: column;
  }

  .trends h4 {
    font-size: 20px;
  }

  .trends:nth-child(2) {
    margin: 2rem 0;
  }
}

/* @media (max-width: 1212px) {
  .content1 {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: 306px 180px 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
  .content1 .new-news {
    grid-area: 3 / 1 / 4 / 3;
    padding-top: 1rem;
  }

  .new-news h2 {
    margin-bottom: 0.5rem;
  }

  .new-news .contents {
    margin-top: 1rem;
  }

  .new-news p {
    padding-bottom: 1rem;
  }
} */
